@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';
@import 'sass/helpers/classes';

@import 'sass/base/reset';
@import 'sass/base/typography';

@import 'sass/components/forms';
@import 'sass/components/select';
@import 'sass/components/navbar';
@import 'sass/components/carousel';
@import 'sass/components/accordion';

@import 'sass/layout/loader';
@import 'sass/layout/header';
@import 'sass/layout/breadcrumb';
@import 'sass/pages/home';
@import 'sass/pages/about';
@import 'sass/pages/start';
@import 'sass/pages/contact';
@import 'sass/Sections/headers';
@import 'sass/Sections/service';
@import 'sass/Sections/product';
@import 'sass/Sections/blog';
@import 'sass/Sections/content';
@import 'sass/layout/footer';
@import 'sass/components/XS';