/////////////////////////////BTN///////////////////
.btn-hover {
    position: relative;
    @include transition(all 0.3s ease-in-out);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 13.5px 1.5px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    overflow: hidden;

    span {
        position: relative;
        display: block;
        z-index: 3;
        color: $fff;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background-color: $more-btn;
        z-index: 1;
        @include transition(all 0.3s ease-in-out);
        -webkit-transform: translate(13%, 190%) rotate(-30deg);
        transform: translate(13%, 190%) rotate(-30deg);
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &::after {

        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: 2;
    }

    &:hover {

        &::after,
        &::before {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        &::after {
            -webkit-transition-delay: 0.2s;
            /* Safari */
            transition-delay: 0.2s;
        }
    }
}

.free {
    width: 160px;
    height: 50px;

    background-color: $baby;

    span {
        font-size: 16px;
        font-family: bold;
    }

    &::after {
        background-color: rgba($orange, 1);
    }
}

.start-btn {
    width: 200px;
    height: 60px;
    background-color: $orange;

    span {
        font-size: 20px;
        font-family: xbold;
        text-transform: uppercase;
    }

    &::after {
        background-color: $baby;
    }
}

.play-video-btn {
    height: 60px;
    width: 60px;
    background-color: $baby;

    span {
        font-size: 22px;
    }

    &::after {
        background-color: $orange;
    }
}

.read-btn {
    width: 160px;
    height: 50px;
    background-color: $more-btn;

    @include sm {
        margin: auto;
    }

    span {
        font-size: 16px;
        font-family: bold;
    }

    &::before,
    &::after {
        background-color: $baby;
    }

    &::after {
        background-color: rgba($orange, 1);
    }
}

.services-sec {
    .read-btn {
        margin: 20px auto 0;
    }
}

.projects-sec {
    .read-btn {
        margin: 50px auto 0;
    }
}

.proj-btn {
    display: flex;
    align-items: center;

    @include sm {
        flex-direction: column;
    }
}

.view-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    border-radius: 15px;
    background-color: $fff;
    padding: 0 28px;
    color: $more-btn;
    font-size: 16px;
    font-family: bold;
    @include transition(all 0.3s ease-in-out);

    span {
        font-size: 20px;
        margin-right: 15px;
    }

    &:first-of-type {
        margin-right: 20px;
        background-color: #000;
        color: $fff;

        @include sm {
            margin-right: 0;
            margin: 5px 0;
        }

        span {
            font-weight: bold;
        }
    }

    &:hover {
        color: $fff;
        background-color: $baby;
    }

    @include sm {
        width: 250px;
        padding: 0;
        margin: 5px 0;
    }
}

.btns {
    display: flex;
    margin-top: 40px;
}

.route-btn {
    width: 150px;
    height: 50px;
    background-color: rgba($orange, 1);

    span {
        font-size: 16px;
        font-family: bold;
    }

    &::after {
        background-color: rgba($baby, 1);
    }

    &:last-of-type {
        border: 2px solid $fff;
        background-color: transparent;
        margin-left: 15px;

        @include xs {
            margin: 0;
            margin-top: 15px;
        }

        #{$rtl} & {
            margin-right: 15px;
            margin-left: 0;

            @include xs {
                margin: 0;
                margin-top: 15px;
            }
        }

        &::before {
            background-color: rgba($orange, 1);
        }

        &:hover {
            border-color: transparent;
        }
    }
}

.submit-form {
    width: 200px;
    height: 60px;
    border: none;
    margin: auto;
    background-color: rgba($orange, 1);

    span {
        font-size: 18px;
        font-family: xbold;
        text-transform: uppercase;
    }

    &::after {
        background-color: rgba($baby, 1);
    }
}

.post-form {
    width: 200px;
    height: 60px;
    border: none;
    background-color: rgba($orange, 1);

    @include xs {
        margin: auto;
    }

    span {
        font-size: 18px;
        font-family: xbold;
        text-transform: uppercase;
    }

    &::after {
        background-color: rgba($baby, 1);
    }
}

.contact-page-cont {
    .submit-form {
        width: 207px;
        margin: unset;

        span {
            text-transform: capitalize;
        }

        @include sm {
            margin: auto;
        }
    }
}

////////////////////////////////////////radios

.custom-radio {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: unset;
    margin: 0;
    margin-right: 30px;
    width: 210px;
    height: 185px;

    #{$rtl} & {
        margin-right: 0;
        margin-left: 30px;

        @include sm {
            margin-right: 0;
            margin-left: 15px;
        }
    }

    @include sm {
        width: calc(50% - 7.5px);
        margin-right: 15px;
        margin-bottom: 15px;
        height: 150px;

        &:nth-of-type(3),
        &:nth-of-type(5) {
            margin-right: 0;
        }

        &:first-of-type {
            width: 100%;
            margin: 0 0 15px;
        }
    }

    &:last-of-type {
        margin-right: 0;

        #{$rtl} & {
            margin-right: 0;
            margin-left: 0;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
            ~.checkmark {
                @include gred;

                &:after {
                    color: #e67806;
                    opacity: 1;
                    visibility: visible;
                }

                .work-img {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(176deg) brightness(104%) contrast(101%);
                }

                .work-name {
                    color: $fff;
                }
            }

        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        background-color: $blue;
        @include transition(all 0.3s ease-in-out);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        &:after {
            position: absolute;
            content: "";
            top: 100%;
            font-size: 60px;
            color: rgba($orange, 1);
            opacity: 0;
            visibility: hidden;
            border: solid transparent;
            position: absolute;
            pointer-events: none;
            border-color: rgba($orange, 0);
            border-top-color: rgba($orange, 1);
            border-width: 20px;

            @include sm {
                display: none;
            }
        }
    }

    .work-img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        filter: invert(27%) sepia(63%) saturate(2674%) hue-rotate(228deg) brightness(92%) contrast(85%);
        @include transition(all 0.3s ease-in-out);
    }

    .work-name {
        font-family: bold;
        font-size: 20px;
        color: #4c57da;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        input {
            ~.checkmark {
                background-color: $orange;

                .work-img {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(176deg) brightness(104%) contrast(101%);
                }

                .work-name {
                    color: $fff;
                }
            }
        }
    }
}

/////////////////////////////news
.newsletter-cont {
    position: relative;
    width: 100%;
    height: 40px;
}

.newsletter-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 30px;
    height: 30px;
    border: none;
    color: $fff;
    border-radius: 2px;
    @include gred;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        background-position: 100%;
    }

    #{$rtl} & {
        right: auto;
        left: 5px;
    }
}

.newsletter-input {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 0 15px;
    border: 1px solid transparent;
    @include transition(all 0.3s ease-in-out);
    text-align: left;
    font-size: 15px;
    color: $sec-back;

    #{$rtl} & {
        text-align: right;
    }

    &::placeholder {
        font-size: 14px;
        color: #909090;
        text-align: left;

        #{$rtl} & {
            text-align: right;
        }
    }

    &:focus {
        border-color: $orange;
    }
}

////////////////////////////////////////////

.form-row {
    display: flex;
    align-items: center;

    @include sm {
        flex-direction: column;
    }

    .input-form {
        width: 50%;

        @include sm {
            width: 100%;
        }

        &:first-of-type {
            margin-right: 30px;

            @include sm {
                margin-right: 0;
            }

            #{$rtl} & {
                margin-right: 0;
                margin-left: 30px;

                @include sm {
                    margin-right: 0;
                }
            }
        }
    }
}

.input-form {
    width: 100%;
    height: 50px;
    background-color: $back;
    border: 2px solid transparent;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
    @include transition(all 0.3s ease-in-out);
    margin-bottom: 30px;

    @include sm {
        margin-bottom: 15px;
    }

    &:focus {
        border-color: $orange;
    }

    &::placeholder {
        color: $fff;
        font-size: 16px;
        font-family: light;
        text-transform: capitalize;
    }
}

.area-form {
    width: 100%;
    height: 250px;
    resize: none;
    border-radius: 15px;
    padding: 20px;
}

//////////////////////////////////////////////////////////////////
.input-file {
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 45px;
    width: max-content;

    .up-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 170px;
        height: 50px;
        font-size: 16px;
        color: $fff;
        font-family: light;
        border: none;
        background-color: #1cad0d;
        border-radius: 5px;
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;



        span {
            color: $fff;
            font-family: black;
            font-size: 18px;
            margin: 0 15px;
            cursor: pointer;
        }
    }

    input[type=file] {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;

        &:hover {
            ~.up-btn {
                background-color: $orange;
            }
        }
    }

    .file-msg {
        font-size: 16px;
        font-family: light;
        margin: 0 30px;
        color: #7b84fe;
    }
}