nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.nav-ul {
    display: flex;
    align-items: center;
}

.nav-li {
    margin-right: 20px;

    #{$rtl} & {
        margin-right: 0;
        margin-left: 20px;
    }
}

.navlink {
    font-size: 16px;
    color: $fff;
    font-family: med;
    text-transform: capitalize;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:focus {
        color: $orange;
    }

    &.navactive {
        text-decoration: line-through;
        color: $orange;
    }
}