$orange:#ef6c00;
$links:#d5d8ff;
$fff: #fff;
$baby:#0166fd;
$text:#9fa5f2;
$border:#11196e;
$back:#050b54;
$sec-back:#030842;
$blue:#0c1473;
$line:#212993;
$more-btn:#182083;


$rtl: "html[dir='rtl']";