.content-page {
    background-color: $blue;
    width: 100%;
    padding: 100px 60px;
    border-radius: 5px;
    border: 1px solid #252fa2;
    margin-top: 80px;
    margin-bottom: 95px;

    @include xs {
        padding: 30px 20px;
        margin-top: 40px;
        margin-bottom: 0px;
    }
}