.sec-headers {
    color: $fff;

    &::before {
        content: url(../images/border.svg);
        margin-bottom: 15px;
        display: block;
    }
}

.lighttext {
    font-size: 36px;
    margin-bottom: 5px;

    @include sm {
        font-size: 30px;
    }
}

.boldtext {
    font-size: 36px;
    font-family: black;

    @include sm {
        font-size: 30px;
    }
}

.regtext {
    font-size: 18px;
    color: $text;
    width: 540px;
    margin: auto;
    margin-top: 10px;

    @include xs {
        width: 100%;
    }
}

.howdoit,
.services-sec,
.projects-sec,
.blogs-sec,
.blog-page-cont,
.services-page-cont {
    .sec-headers {
        text-align: center;
    }
}

.start-page-cont {
    @include sm {
        text-align: center;
    }
}

.about-sec,
.about-page-cont,
.blogs-pre {
    .sec-headers {
        overflow: hidden;

        @include sm {
            text-align: center;
        }

        &::before {
            transform: translateX(-25px);
            display: block;

            @include sm {
                transform: none;
            }

            #{$rtl} & {
                transform: translate(25px);

                @include sm {
                    transform: none;
                }
            }
        }
    }
}

.start-page-cont,
.contact-page-cont {
    .sec-headers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::before {
            position: absolute;
            top: 0;

            @include sm {
                position: relative;
                top: auto;
            }
        }

        @include sm {
            display: block;
            text-align: center;
        }

        img {
            width: 60px;
            filter: brightness(0) invert(1);

            @include sm {
                display: none;
            }
        }
    }
}