.page-eror {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;

    .page-head {
        color: #d5d8ff;
        font-family: black;
        font-size: 300px;
        line-height: .7;
        letter-spacing: -10px;
        margin-bottom: 50px;

        @include xs {
            font-size: 200px;
        }
    }

    .errer-text {
        font-size: 35px;
        font-family: xbold;
        color: $baby;
        margin-bottom: 35px;

        @include xs {
            font-size: 25px;
        }
    }

    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 25px;
        width: 200px;
        color: $orange;
        font-family: bold;
        border: 2px solid $orange;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: $orange;
            color: #fff;
        }


    }
}