.port-page-cont {
    padding: 100px 0;
    position: relative;

    @include xs {
        padding: 30px 0 50px;
    }

    .shape {
        top: 0;
        right: 80%;

        &:nth-of-type(2) {
            top: 50%;
            right: 0%;
        }

        &:nth-of-type(3) {
            top: 80%;
            right: 90%;
        }

        &:nth-of-type(4) {
            top: -12%;
            right: 10%;
        }
    }
}

.port-page {

    .project {
        margin-top: 30px;
        width: 100%;
        position: relative;
        background-color: #0c1473;
        overflow: hidden;
        padding: 40px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

        @include xs {
            padding: 0;
        }

        @include xs {
            margin-top: 15px;
        }

        .pat {
            position: absolute;
            right: -30px;
            bottom: -10px;
            width: 310px;
            height: 310px;
        }

        .proj-desc {
            position: relative;
            z-index: 99;
        }
    }
}